apiVersion: v1
kind: Service
metadata:
  name: {{ include "koptimizer.fullname" . }}
  labels:
    {{- include "koptimizer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: api
      protocol: TCP
      name: api
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "koptimizer.selectorLabels" . | nindent 4 }}
